@import "reset.css";
@import "vars.css";

@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

* {
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
}

html {
  font-size: 62.5%;
  font-family:
    "Pretendard Variable",
    Pretendard,
    -apple-system,
    BlinkMacSystemFont,
    system-ui,
    Roboto,
    "Helvetica Neue",
    "Segoe UI",
    "Apple SD Gothic Neo",
    "Noto Sans KR",
    "Malgun Gothic",
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol",
    sans-serif;
}

body {
  overflow-wrap: break-word;

  font-size: 1.4rem;
  word-break: keep-all;
  color: #212529;
}

a {
  text-decoration: none;
  color: inherit;
}

.title {
  font-size: large;
  font-weight: bold;
  margin: 10px;
  padding: 5px;
}

#form {
  display: flex;
  width: 80%;
}

#input {
 
  border: 1px #ccc solid;
  border-radius: 10px;
  background-color: white;
  box-shadow: #ccc 2px 2px 3px;
  height: 40px;
  width: 90%;
  margin: 10px;
  padding: 5px;
}

#ok-button {
  
  border: 1px black solid;
  border-radius: 10px;
  background-color: black;

  text-align: center;
  color: white;

  box-shadow: #ccc 2px 2px 3px;
  height: 40px;
  width: 10%;
  margin: 10px;
  padding: 5px;
}

.toDoList {
  display: flex;
  justify-content: space-between;
  
  border: 1px #b4b4b4 solid;
  border-radius: 10px;
  background-color: rgb(236, 236, 236);
  box-shadow: #ccc 2px 2px 3px;
  width: 80%;
  margin: 10px;
  padding: 5px;
  
}

#left {
  width: 60%;
}

#buttons {
  float: right;
  width: 40%;
}

#text {

  margin: 7px;
  
}

#remove, #modify {

  margin: 5px;

  border: 1px gray solid;
  border-radius: 2px;
  background-color: gray;

  text-align: center;
  font-size: smaller;
  color: white;

  box-shadow: #ccc 2px 2px 3px;
  height: 30px;
  width: 40px;

  padding: 2px;
}
